
body{
    max-width: 100%;
    overflow-x: hidden;
    background-color: #f4f4f4;
}

li{
    list-style: none;
}

.img-wrapper, .img-wrapper img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.navbar{
    z-index: 99;
}

.fondo{
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
}
